/* Boiler Plate */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:#fff;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
/* End */
#main{
    width: 100%;
    height: max-content;
    overflow: hidden;
}

#home{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#home nav{
    height: 10%;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

/* Navbar End */
#page{
    width: 100%;
    height: 80%;
    background-color: black;
}
#page h1{
    position: relative;
    top: 30%;
    left: 8%;
    font-size: 2.3rem;
}
#page h1 span{
    color: #686060;
}
#aboutbtn{
    position: relative;
    top: 35%;
    left: 8%;
    color: #fff;
    background-color: #262424;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}